
        <div class="main-content"> <!-- ALL CONTENT WITHIN THIS TAG -->
          <header class="login">
            <h2>login</h2>
          </header>

          <div class="main">
          <nav class="tabs">
            <a href="#panel-login" class="active">Log in</a>
            <a href="#panel-signup" class="">Sign up</a>
          </nav>

      <div class="tab-content">

          <section id="panel-login" class="panel active"> <!-- panel-login -->
            <section class="form-container">
              <form class="signup" ng-submit="submit()">
                <fieldset>
                <label>Email<input type="email" name="email" placeholder="you@example.com" ng-model="signup.email" /></label>
                <label>Password<input type="password" name="password" placeholder="********" ng-model="signup.password" /></label>
              </fieldset>
              </form>
              <div class="signup-button">
                <button class="login" type="submit">Log in</button>
                <p>By registering, you agree to the privacy policy and terms of service.</p>
              </div>
            </section> <!-- END .form-container -->

            <section class="alternate">
              <p>Don't have an account? <a href="#panel-signup">Sign up</a></p>
            </section>
          </section> <!-- END panel-login -->

      </div> <!-- END .tab-content -->
    </div><!-- END .main -->


        <footer>
          <nav>
            <a href="#/panel-login" class="btm-nav">Home</a>
            <a href="#/activity" class="btm-nav">Activity</a>
            <a href="#/stats" class="btm-nav">Stats</a>
          </nav>
        </footer>

        </div> <!-- END .MAIN-CONTENT-->
