<header class="activity">
  <h2>activity</h2>
</header>

<div class="main-content"> <!-- ALL CONTENT WITHIN THIS TAG -->

  <section class="container">
    <section id="panel-add" class="panel active">
      <form class="add-drop-down" ng-controller="activityController" ng-submit="addActivity()">
        <p>Activity</p>
        <input type="text" class="text" placeholder="Running" value="title" ng-model="activityadd.title"/>
        <p>Amount</p>
        <input type="text" class="text" placeholder="2" value="datapoints" ng-model="activityadd.datapoints"/>
        <p>unit</p> <!-- drop-down menu -->
          <select class="unit" name="unit">
            <option value="choose a unit">Choose a unit</option>
            <option value="miles">miles</option>
            <option value="reps">reps</option>
            <option value="minutes">minutes</option>
            <option value="hours">hours</option>
          </select><br><!-- END drop-down menu -->
          <p>Date</p>

          <date-util format="yyyy-MM-dd"><input class="text" placeholder="YYYY-MM-DD" type="text" value="timestamp" ng-model="activityadd.timestamp"></date-util>
        <!-- <a href="#/activity"> -->
          <button type="submit" class="add-to-list">Add</button>
        <!-- </a> -->
      </form> <!-- END .form-container -->
    </section>
  </div>
</section> <!--END CONTAINER-->


</div> <!-- END .MAIN-CONTENT-->
