header.activity {
  background: #7ECCC4;
  color: #ffffff;
  position: absolute;
  right: 0; left: 0;

  h2 {
    margin-top: 2%; margin-bottom: 2%;
    font-weight: 400;
  }
}


nav.date {
  background: #eee;
  color: #000000;
  position: absolute;
  top: 135px;
  right: 0; left: 0;
  display: inline-block;
  text-align: center;

  h3 {
    margin-top: 2%; margin-bottom: 2%;
    font-weight: 400;
    display: inline-block;
    text-align: center;
  }

}


.footer {
  bottom: 0;
  display: block;
  right: 0;
  left: 0;
  text-align: center;

}


section.container {
  margin: 30% auto 0 auto;
  float: left;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.logged-activities {
      padding: 5%;
      background: #A3A3A3;
      // border-radius: 3px;

      h4.logged {
        display: inline-block;
        margin: 0;
      }

      button.add-button {
        display: inline-block;
        float: right;
      }

}

article.activity {
  padding: 3% 5%;
  border: 1px solid #A3A3A3;

    h5 {
      margin: 0;
      text-align: left;
      width: 30%;
      display: inline-block;
      font-weight: 200;
    }

    .fa-caret-right {
      display: inline-block;
    }

}

.add-drop-down {
    display: none;
  }

.add-drop-down.show {
    // position: absolute;
    display: block;
    background: #ffffff;
    border: 1px solid #CBC9C7;
    padding: 0 5px 10px 5px;
    right: -45px;
    top: 50px;
    // z-index:1; // overlays other elements

            p {
              text-transform: uppercase;
              color: #CBC9C7;
              font-size: 8pt;
            }

            .text {
              border: 1px solid #D5D4D4;
              outline: none;
              padding: 5px 5px 4px;
              font-size: 8pt;
            }

            button.add-to-list {
              display: inline-block;
              background: #3cb1cb;
              font-size: 10pt;
              color: #ffffff;
              padding: 2px 11px;

          }


          select.unit {
            margin: 2% 0;
          }

  } //.add-drop-down.show
