header.activity {
  background: #7ECCC4;
  color: #ffffff;
  position: absolute;
  right: 0; left: 0;

  h2 {
    margin-top: 2%; margin-bottom: 2%;
    font-weight: 400;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  nav {

    a {
      padding-left: 10px; padding-right: 10px;
      text-decoration: none;
      color: #007CCF;
    }

    a:hover {
      color: #A9C6FF;
    }
  }
}
