.main-content {
  margin: 0 auto;
  width: 90%;
}

header.activity {
  background: #7ECCC4;
  color: #ffffff;
  padding: 1% 0;
  width: 100%;

  h2 {
    margin-top: 2%; margin-bottom: 2%;
    font-weight: 400;
  }
}

nav.date {
  background: #eee;
  color: #000000;
  width: 100%;
  display: inline-block;
  text-align: center;

      h3 {
        margin-top: 2%; margin-bottom: 2%;
        font-weight: 400;
        display: inline-block;
        text-align: center;
        padding-right: 38%; padding-left: 38%;
      }

      .fa-caret-left, .fa-caret-right {
        vertical-align: middle;
        color: #000;
      }

}

.footer {
  margin-top: 10%;
  bottom: 0;
  display: block;
  text-align: center;
  width: 100%;
}


.logged-activities {
    padding: 5%;
    background: #A3A3A3;

      h4.logged {
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 1%;
      }

      button.add-button {
        display: inline-block;
        color: #fff;
        background: darken(#A3A3A3, 20%);
        border: none;
        float: right;

      }

      nav {

              a {
                padding-left: 10px; padding-right: 10px;
                text-decoration: none;
                color: #007CCF;
              }

              a:hover {
                color: #A9C6FF;
              }
        }
}


article.activity { // ACTIVITY LIST
  padding: 3% 5%;
  border: 1px solid #A3A3A3;

    h5 {
      margin: 0;
      text-align: left;
      width: 30%;
      display: inline-block;
      font-weight: 200;
    }

    .fa-caret-right {
      display: inline-block;
      color: #000;
    }

}


section.container {
  margin: 0 auto;
  float: left;
  width: 100%;
  box-sizing: border-box;
  display: block;

  .add-button {
    display: inline-block;
  }

  // ADD ACTIVITY FORM
  .add-drop-down {
      @extend .clearfix;
      display: block;
      background: #ffffff;
      border: 1px solid #D5D4D4;
      padding: 3%;
      right: -45px;
      top: 50px;
      margin-top: 5%;

          p {
            text-transform: uppercase;
            color: #CBC9C7;
            font-size: 8pt;
          }

          .text {
            border: 1px solid #D5D4D4;
            outline: none;
            padding: 5px 5px 4px;
            font-size: 8pt;
            width: 75%;
          }

            button.add-to-list {
              display: inline-block;
              font-size: 10pt;
              display: inline-block;
              color: #fff;
              background: darken(#7ECCC4, 20%);
              border: none;
              float: right;
              padding: 1% 5%;
          }

            select.unit {
              margin-bottom: 2%;
            }

  } //.add-drop-down.show

} //. END SECTION CONTAINER
