header.login {
  background: #ADCC7E;
  color: #ffffff;
  position: absolute;
  right: 0; left: 0;

  h2 {
    margin-top: 2%; margin-bottom: 2%;
    font-weight: 400;
  }
}




.main {
  box-sizing: border-box;
  display: block;
  width: 100%;
}


.form-container {
  border: 1px solid #e6e6e6;
  padding: 5%;
  width: 40%;
  margin: 15% auto 2%;
  min-width: 300px;

    .buttons {
      margin: 0 auto;
      color: #ffffff;
      padding-bottom: 5%;
      font-size: 10pt;
      width: 97%;
      display: block;
      position: relative;
      border-radius: 3px;

        // .google {
        //   background: #D50F25;
        //   width: 49%;
        //   padding: 3% 3%;
        //   border-radius: 3px;
        // }
        //
        // .facebook {
        //   background: #3b5998;
        //   width: 49%;
        //   float: right;
        //   padding: 3% 3%;
        //   border-radius: 3px;
        // }
    }

    form.signup {
      width: 97%;
      display: block;
      position: relative;
      font-size: 10pt;
      margin: 0 auto;
      text-align: left;
      padding-bottom: 5%;




          label {
            display: block;
            padding: 5px 5px 10px 2px;
            font-weight: bold;
          }

          input {
            font-size: 12px;
            display: block;
            width: 100%;
            height: 28px;
            border: 1px solid #e6e6e6;
            font-weight: lighter;
            padding-left: 1%;
         }

    } // END .SIGNUP

    .signup-button {
      margin: 0 auto;
      width: 97%;
      display: block;
      position: relative;
      text-align: center;


        button.sign-up {
          color: #ffffff;
          background: #07c;
          border-radius: 3px;
          padding: 2% 10%;
          border-color: #07c;
        }

        a[href] {
          font-size: 10pt;
          color: #07c;
          text-decoration: none;
        }

        p {
          font-size: 10pt;
          text-align: center;
          display: table;
          content: "";
          clear: both;
          padding-top: 5%;
        }

    }



} // END .FORM-CONTAINER


.alternate {
  border: 1px solid #e6e6e6;
  padding: 1%;
  width: 83%;
  min-width: 300px;
  margin: 1% auto;
  margin-bottom: 5%;

    p {
      text-align: center;
      font-size: 10pt;

          a[href] {
            color: #07c;
            font-size: 10pt;
          }
    }
}

// article.line {
//     display: block;
//     text-align: center;
//     margin: 20px 0;
//
//     hr.or {
//       border-top: 1px solid #e6e6e6;
//       margin-bottom: -4.5%;
//       height: 0;
//     }
//
//     p.or {
//       font-size: 7pt;
//       color: #808080;
//       padding: 0 3%;
//       display:inline-block;
//       background: #ffffff;
//       vertical-align: middle;
//     }
// }
