header.stats {
  background: #9D7ECC;
  color: #ffffff;
  position: absolute;
  right: 0; left: 0;

  h2 {
    margin-top: 2%; margin-bottom: 2%;
    font-weight: 400;
  }
}

footer {
  position: absolute;
  bottom: 0;
}
