header.stats {
  background: #9D7ECC;
  color: #ffffff;
  position: absolute;
  right: 0; left: 0;

  h2 {
    margin-top: 2%; margin-bottom: 2%;
    font-weight: 400;
  }
}

.footer {
  bottom: 0;
  display: block;
  right: 0;
  left: 0;
  text-align: center;

}


section.container {
  margin: 30% auto 0 auto;
  float: left;
  width: 100%;
  box-sizing: border-box;
  display: block;
  outline: 1px solid #000;
}
